.card-body{
    min-height: 58vh;
}
.img-result{
    float: right;
}
.card-footer-pass{
    color: green;
    background-color: #e3f4e3;
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-footer-fail{
    color: red;
    background-color: #fae8e8;
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}