  
    <strong class="pt-3">{{'cameraOne' | translate }}</strong>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let camera of cameraOne">
            <div class="card">
                <div class="card-body">
                    <img src="./../../../assets/img/{{camera.img}}" width="100%" height="400vh">
                </div>
                <div [class.card-footer-pass]="camera.result === 'pass'" [class.card-footer-fail]="camera.result == 'fail'">
                    <i [ngClass]="getClass(camera.result)"  style="font-size:24px"></i> <span class="img-result"><strong>{{camera.result | titlecase }}</strong> </span>
                </div>
            </div>
        </div>
    </div>
    <strong class="pt-3">{{'cameraTwo' | translate }}</strong>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let camera of cameraTwo">
            <div class="card">
                <div class="card-body">
                    <img src="./../../../assets/img/{{camera.img}}" width="100%" height="400vh" >
                </div>
                <div [class.card-footer-pass]="camera.result === 'pass'" [class.card-footer-fail]="camera.result == 'fail'">
                    <i class="fa fa-thumbs-up" style="font-size:24px"></i> <span class="img-result"><strong>{{camera.result | titlecase }}</strong> </span>
                </div>
            </div>
        </div>
    </div>
