<div class="bg-img">
	<span class="form-inline lang">
		<select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
			<option *ngFor="let language of translate.getLangs()" [value]="language"
				[selected]="language === translate.currentLang">
				{{ language }}
			</option>
		</select>
	</span>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>{{'signIn' | translate }}</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span>
						<span><i class="fab fa-google-plus-square"></i></span>
						<span><i class="fab fa-twitter-square"></i></span>
					</div>
				</div>
				<div class="card-body">
					<form [formGroup]="loginForm" (ngSubmit)="validateUser(loginForm)">
						<div class="input-group form-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" formControlName="username"
								placeholder="{{'usernamePlaceholder' | translate}}">
						</div>
						<div class="mb-1" class="validation-msg"
							*ngIf="loginForm.controls.username.errors && loginForm.controls.username.touched ">
							{{'usernameRequired' | translate }}
						</div>
						<div class="input-group form-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" formControlName="password"
								placeholder="{{'passwordPlaceholder' | translate}}">
						</div>
						<div class="mb-1" class="validation-msg"
							*ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
							{{'passwordRequired' | translate }}
						</div>
						<div class="mb-1" class="validation-msg" [ngStyle]="{'display':status == true? 'block' : 'none' }">
							{{'invalidDetails' | translate }}
						</div>

						<div class="form-group">
							<input type="submit" value="{{'submitLogin' | translate}}" [disabled]="loginForm.invalid"
								class="btn float-right login_btn">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
